/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styling */
html {
    font-size: 16px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* Navigation */
nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background: #0a1f33;
    z-index: 2;
}

.hamburger-menu {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    background: #0a1f33;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    padding: 10px;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.close-menu {
    align-self: flex-end;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

/* Title Bar */
.title-bar-container {
    background-color: #0a1f33;
    padding: 100px 0;
    width: 100%;
    text-align: left;
    margin: 0;
    z-index: 2;
}

.title-bar {
    max-width: 800px;
    margin: -20px auto 0 auto;
    color: #fff;
    padding: 0px 0px 30px 20px;
    z-index: 3;
}

.title-bar h1 {
    font-size: clamp(2em, 5vw, 3em);
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
}

/* Container for Title and Meta Info */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Article Meta */
.article-meta {
    text-align: left;
    margin-top: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.social-links a {
    margin-right: 10px;
    color: black;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #333;
}

.date {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Author Name Styling */
.author-name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 900;
}

/* Article Container */
.article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

/* Article Styling */
.article-container p {
    font-size: inherit;
    font-family: 'Merriweather', Times, serif;
    line-height: 1.6;
}

/* Header and Subheader Styling */
.article-container h1, .article-container h2 {
    margin: 0;
    font-weight: bold;
}

.article-container h1 {
    font-size: 2rem;
    padding: 10px 0;
}

.article-container h2 {
    font-size: 1.5rem;
    padding: 10px 0;
}

/* Image Caption */
img {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #777;
    margin-top: 5px;
}

/* Container for Headline Photo */
.headline-photo-container {
    position: relative;
    width: 100%;
    margin: -100px auto 0 auto;
    max-width: 800px;
    padding: 0 20px;
    z-index: 1;
}

/* Headline Photo Styling */
.headline-photo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    z-index: 1;
}

/* Caption Styling */
.headline-photo-container figcaption {
    text-align: left;
    font-style: normal;
    color: #333;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.headline-photo-container figcaption .photographer-credit {
    font-family: 'Courier New', Courier, monospace;
    color: #666;
    margin-top: 2.9px;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 0.9em;
}

/* Media Queries */
@media screen and (max-width: 926px) {
    html {
        font-size: 14px;
    }
    body {
        font-size: 1rem;
    }
    
    .title-bar h1 {
        font-size: clamp(1.5em, 5vw, 2.5em);
    }
    
    .article-container h1 {
        font-size: 1.6rem;
        padding: 15px 0;
    }
    
    .article-container h2 {
        font-size: 1.4rem;
        padding: 8px 0;
    }
}

@media screen and (max-width: 926px) and (orientation: landscape) {
    html {
        font-size: 14px;
    }
    body {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .title-bar h1 {
        font-size: clamp(2em, 5vw, 3em);
    }
    body {
        font-size: 1.125rem; /* Adjust as needed */
    }
}

@media (min-width: 1024px) {
    .title-bar h1 {
        font-size: clamp(2.5em, 5vw, 3.5em);
    }
    body {
        font-size: 1.25rem; /* Adjust as needed */
    }
}
