.sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px;
  margin-top: 20px;
}

.nav-link {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-decoration: none;
  color: #007bff;
}

.nav-link:hover {
  background-color: #e9ecef;
}
