/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color:#f8f9fa;
    color: #212529;
}

/* Header styling */
header {
    max-width: 1900px;
    padding: 20px 0;
    position: relative;
}

h1 {
    margin: 0;
    color: #333; /* Dark grey color for the text */
    text-align: left;
}

/* Navigation Styling */
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Move hamburger to the right */
    position: relative;
}

/* Wrapper Styling */
.wrapper {
    width: 100%;
    max-width: 1900px; /* Maximum width of the content */
    margin: 0 auto; /* Centers the wrapper */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* Hamburger Menu Styling */
.hamburger-menu {
    font-size: 1.5em;
    cursor: pointer;
    color:  #111;
}

/* Dropdown Menu Styling */
.nav-links {
    list-style: none;
    flex-direction: column;
    width: 200px; /* Set a smaller width */
    display: none; /* Hidden by default */
    background: #f8f9fa;
    position: absolute;
    top: 100%; /* Position below the nav bar */
    right: 0; /* Align to the right under the hamburger menu */
    padding: 10px;
    margin: 0;
}

/* Show the nav links when active */
.nav-links.active {
    display: block;
}

/* Nav Link Items Styling */
.nav-links li a {
    color: #111; /* Changed to white for better visibility */
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    font-weight: bold;
}

/* Hover Effect for Links */
.nav-links li a:hover {
    color: #adb5bd; /* Lighter gray on hover */
}
/* Hide Close Menu Icon */
.nav-links .close-menu {
   
}

/* Main content styling */
main {
    margin-top: -50px;
    padding: 20px;
    text-align: left;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    text-align: left;
}

/* Bullet list styling */
main ul {
    list-style-type: disc; /* Default bullet */
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

main ul ul {
    list-style-type: circle; /* First level indentation bullet */
    padding-left: 20px;
}

main ul ul ul {
    list-style-type: square; /* Second level indentation bullet */
    padding-left: 20px;
}

/* Indented list styling */
.indent-1 {
    margin-left: 20px;
}

.indent-2 {
    margin-left: 40px;
}

.indent-3 {
    margin-left: 60px;
}

.indent-4 {
    margin-left: 80px;
}

/* Footer styling */
footer {
    padding: 20px;
    text-align: center;
    color: #111;
}