/* Reset some default browser styles for consistency */
/* Reset some default browser styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: #d3d3d3; /* Light gray background */
    color: #111;
}

/* Layout Containers */
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

/* Header */
header {
    max-width: 1200px;
    padding: 20px 0;
    position: relative;
}

header h1 {
    font-size: 2em;
}

/* Navigation */
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.hamburger-menu {
    font-size: 1.5em;
    cursor: pointer;
    color: #111;
}

/* Dropdown Menu */
.nav-links {
    list-style: none;
    flex-direction: column;
    width: 200px;
    display: none;
    background: #d3d3d3;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
}

.nav-links.active {
    display: block;
}

.nav-links li a {
    color: #111;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #adb5bd;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 0 20px 20px 20px;
    padding: 0 20px;
    flex: 1 0 auto;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 15px;
    text-align: left;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    color: #111;
}

/* Figures and Images */
figure {
    width: 100%;
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
}

figure img, .centered-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    color: #666;
    font-style: italic;
    margin-top: 10px;
}

.image-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image-column img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Lists */
ul, ol {
    padding-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

li {
    margin-bottom: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #000000;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


/* Blog List */
.blog-list,
.blog-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-list a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.blog-list a:hover {
    color: #adb5bd;
}

/* Post Date */
.post-date {
    font-family: 'Merriweather', serif;
    color: #666;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Contact List */
.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.contact-list li {
    margin-bottom: 7px;
}

.contact-list a {
    text-decoration: none;
    color: inherit;
}
