body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
header {
    background-color: #f8f9fa; /* Light grey background */
    padding: 10px 0; /* Top and bottom padding */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow */
    text-align: center; /* Ensures the title is centered */
}

h1 {
    margin: 0;
    color: #333; /* Dark grey color for the text */
}


footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
}

main {
    margin-top: 20px;
}


main h1 {
    text-align: center; /* Centers only the h1 title */
}

main p {
    text-align: left; /* Left-aligns paragraphs */
}


/* Resetting some default styles */
ul {
    list-style: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}

nav {
    text-align: center; /* Centers the navigation links */
}

nav ul {
    display: inline-block; /* Aligns the list horizontally */
}

nav li {
    display: inline; /* List items inline */
    margin-right: 20px; /* Adds space between the links */
}

nav li:last-child {
    margin-right: 0; /* Removes margin from the last item */
}

nav a {
    text-decoration: none; /* Removes underline from links */
    font-weight: bold; /* Makes text bold */
    color: #333; /* Dark gray color for the text */
    padding: 10px 15px; /* Adds padding around the links for better clickability */
}

nav a:hover {
    color: #0056b3; /* Changes color on hover */
    background-color: #f8f9fa; /* Light background on hover */
}

figure {
    max-width: 100%; /* Matches the image width, or can be set to 100% if you prefer it to be responsive */
    margin: auto; /* Centers the figure */
    text-align: center; /* Centers the text caption */
}

figcaption {
    color: #666; /* Grey text color for the caption */
    font-style: italic; /* Italicize the caption text */
}

.centered-image {
    display: block;
    margin: auto;
    max-width: 100%; /* Responsive, or you can set a fixed max-width like 300px */
}

.image-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Align items at the start of the flex line */
}

.image-column img {
     /* Adjust width for spacing and preference */
	width: auto;
	height: auto; 
	max-width: 100%;
	max-height: 100%; 
}

.blog-list a {
    color: #333; /* Dark gray color for the text */
    font-weight: bold; /* Makes the text bold */
    text-decoration: none; /* Removes the underline from links */
    font-size: 18px; /* Sets a larger font size for visibility */
}

.blog-list a:hover {
    color: #0056b3; /* Changes color on hover for a visual effect */
    text-decoration: underline; /* Adds an underline on hover */
}

/* Custom styles for specific headers */
h2.timeline-section-header {
    font-size: 1.5em;
    color: #0056b3;
    margin-top: 20px;
    border-bottom: 2px solid #0056b3;
    text-align: left; /* Custom alignment if needed */
}

/* Custom styles for specific headers */
h2.custom-section-header {
    font-family: 'Arial', sans serif; /* Nice font */
    font-size: 1.5em;
    color: #666666; /* Lighter grey color */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left; /* Custom alignment if needed */
    font-weight: bold; /* Optional: makes the header bold */
}
