<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="How to create your first npm package and publish it." />
    <meta name="twitter:title" content="Creating your first npm package" />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/APogue/APogue.github.io/main/images/2024-05-20/protest/large-red-triangle-people.webp"/>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="Discussion about the protest events at UCLA and potential solutions." />
    <meta property="og:image" content="{{ page.image }}"/>
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:type" content="article" />
</head>
<body>
    <header>
        <nav>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-links">
                <li class="close-menu"><i class="fas fa-times"></i></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="title-bar-container">
            <div class="title-bar">
                <h1>{{ page.title }}</h1>
				 <p class="title-explanation">{{ page.explanation }}</p> <!-- Add this line -->
            </div>
        </div>
        <figure id="fig:large-sign-red-triangle" class="headline-photo-container">
			<a href="https://www.latimes.com/opinion/story/2024-05-08/gaza-palestinians-university-encampments-solidarity-students-protests-rafah-biden-redline">
			<img src="/images/2024-05-20/protest/large-red-triangle-people.webp" 
             alt="Large sign with red triangle" class="headline-photo">
			</a>
			<figcaption>
				<span class="nowrap-text">Large sign with red triangle from the <a href="https://www.latimes.com/opinion/story/2024-05-08/gaza-palestinians-university-encampments-solidarity-students-protests-rafah-biden-redline" style="color:#0F52BA; text-decoration:none">&nbsp;LA Times.</a></span>
				<span class="photographer-credit">Ringo Chiu / For The Times</span>
			</figcaption>
		</figure>
    </header>

    <main class="container">
        <div class="article-meta">
            <div class="social-links">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" style="color: black;"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" style="color: black;"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="mailto:?subject={{ page.title }}&body=Check out this article: {{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" style="color: black;"><i class="fas fa-envelope"></i></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" target="_blank" style="color: black;"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="copy-link" data-link="{{ site.url }}{{ site.baseurl }}{{ page.url }}" style="color: black;">
                <i class="fa-solid fa-link"></i>
               </a>
               <span class="copied-notification" style="display: none; color: black; margin-left: 10px;">Copied to clipboard✔️</span>
            </div>
            <div class="date">{{ site.time | date: "%B %-d, %Y, %I:%M %p %Z" }}</div>
            <div class="author-name">By {{ page.author }}</div>
        </div>

        <div class="article-container">
            {{ content }}
        </div>
    </main>

    <footer>
    </footer>

    <script src="https://kit.fontawesome.com/3f772b523c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script>
        document.querySelector('.hamburger-menu').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });

        document.querySelector('.close-menu').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.remove('active');
        });

        document.addEventListener('click', function(event) {
            if (!document.querySelector('.nav-links').contains(event.target) && !document.querySelector('.hamburger-menu').contains(event.target)) {
                document.querySelector('.nav-links').classList.remove('active');
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const copyLink = document.querySelector('.copy-link');
            const copiedNotification = document.querySelector('.copied-notification');

            copyLink.addEventListener('click', function(event) {
                event.preventDefault();
                const link = copyLink.getAttribute('data-link');

                navigator.clipboard.writeText(link).then(function() {
                    copiedNotification.style.display = 'inline';
                    setTimeout(function() {
                        copiedNotification.style.display = 'none';
                    }, 2000);
                }, function(err) {
                    console.error('Could not copy text: ', err);
                });
            });
        });
    </script>

    <!-- The Modal/Lightbox -->
 
	<div id="myModal" class="lightbox">
		<span class="close" onclick="closeModal()">&times;</span>
		<img class="lightbox-content" id="img01">
	</div>

	<script>
		// JavaScript for Lightbox
		var modal = document.getElementById("myModal");
		var modalImg = document.getElementById("img01");

		function openModal(src) {
			modalImg.src = src;
			modal.style.display = "flex"; // Use flex to center content
			requestAnimationFrame(function() {
				modal.classList.add('show');
			});
		}

		function closeModal() {
			modal.classList.remove('show');
			modal.addEventListener('transitionend', function handler() {
				modal.style.display = "none";
				modal.removeEventListener('transitionend', handler);
			});
		}

		// Close modal when clicking outside the image
		modal.addEventListener('click', function(e) {
			if (e.target === modal) {
				closeModal();
			}
		});
	</script>

</body>
</html>
