---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/footnotes.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="In the Aftermath of the Protest Events People Should be Talking and UCLA Needs to Come to the Table" />
    <meta property="og:description" content="Discussion about the protest events at UCLA and potential solutions." />
    <meta property="og:image" content="https://raw.githubusercontent.com/APogue/APogue.github.io/main/images/2024-05-20/protest/anti-zionism-not.jpg" />
    <meta property="og:url" content="https://alexiepogue.com/2024/05/30/In-the-Aftermath-of-the-Protest-Events-People-Should-be-Talking-and-UCLA-Needs-to-Come-to-the-Table/" />
    <meta property="og:type" content="article" />
</head>
<body>
    <header>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ '/assets/js/footnotes.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="/assets/js/figure-references.js"></script>
</body>
</html>
