<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/outline.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="wrapper">
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-links">
                <li class="close-menu"><i class="fas fa-times"></i></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="date">
            {{ page.date | date: "%B %d, %Y at %I:%M %p" }} EDT
            {% if page.updated_date %}
            / Updated <span id="updated-date">{{ page.updated_date | date: "%B %d, %Y at %I:%M %p" }}</span> EDT
            {% endif %}
        </div>
        {{ content }}
    </main>
    <footer>
        <p>© {{ 'now' | date: "%Y" }} Alexie's Website - Site in Beta</p>
    </footer>
    <script>
        document.querySelector('.hamburger-menu').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });

        document.querySelector('.close-menu').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.remove('active');
        });

        document.addEventListener('click', function(event) {
            if (!document.querySelector('.nav-links').contains(event.target) && !document.querySelector('.hamburger-menu').contains(event.target)) {
                document.querySelector('.nav-links').classList.remove('active');
            }
        });
    </script>

     </div>
</body>
</body>
</html>
